requires: drivers_uart libc_minimal l4util cxx_io
requires[arch(arm) || arch(arm64) || arch(riscv)]: libfdt
optional: gnu-efi zlib libbsd-lite
variants: nofpu
Maintainer: adam@os.inf.tu-dresden.de warg@os.inf.tu-dresden.de
