requires: drivers_uart libc_minimal l4util cxx_io
requires[arch(arm) || arch(arm64) || arch(riscv)]: libfdt
requires[arch(ppc32)]: drivers_of
optional: libefi zlib
variants: nofpu
Maintainer: adam@os.inf.tu-dresden.de warg@os.inf.tu-dresden.de
